body {
  font-family: Arial;
  background: #eef2f3;
  padding: 40px;
}

form {
  max-width: 420px;
  background: white;
  padding: 40px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: initial;
  background-color: antiquewhite;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
.portfolio-form{
    padding: 10px;
    margin: auto;
}
h2{
    text-align: center;
}