body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

nav {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-top: 120px;
}

.btn {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
